################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PromotionEngine/bin
/PromotionEngine/obj
/PromotionEngine.DTO/bin
/PromotionEngine.DTO/obj
/PromotionEngine.Services/bin
/PromotionEngine.Services/obj
/PromotionEngine.Repositories/obj
/PromotionEngine.Repositories/obj
/PromotionEngine.Test/bin
/PromotionEngine.Test/obj 
